/* Base text styles */
html,
body,
#__nuxt {
  color: color-mix(in oklab, var(--color-neutral-600), 20% transparent);
  font-family: "Poppins", system-ui, sans-serif;
  font-weight: 400;
}

p {
  line-height: 1.65 !important;
}

/* Heading styles */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-neutral-950);
  font-family: "Open Sans", system-ui, sans-serif;
  font-weight: 750;
  line-height: 1.1;
}
